
/*MAIN: hero*/
main #hero {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

main #hero #hero-cta {
    display: flex;
    gap: 1rem;
}

main #hero #hero-cta button {
    padding-left: 3rem;
    padding-right: 3rem;
}

main #hero #hero-text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 0rem;
    z-index: 5;
}

main #hero #hero-text-overlay p {
    font-size: 1.8rem;
    line-height: 140%;
    letter-spacing: 2px;
    width: 50%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

main #hero #overlay-shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,        
        rgba(20, 34, 42, 0.5) -100%, 
        var(--background-color) 100%    
    );
    z-index: 3;
}

main #hero img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
}


main #hero #hero-text-overlay span {
    color: var(--highlight-color-2);
    font-size: 4rem;
    line-height: 90%;
    font-family: "Allura";
}


/*MAIN: offer*/
main #offer #offer-cards {
    display: grid;
    gap: 5rem;
}

main #offer #offer-cards .offer-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem 5rem;
    background-color: var(--background-cards-color);
    border: 1px solid var(--highlight-color);
    text-align: center;
    gap: 0.8rem;
    border-radius: var(--border-radius);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

main #offer #offer-cards .offer-card:hover {
    transform: scale(1.05);
    border-color: #E9AB72; 
    box-shadow: 0 0 20px rgba(233, 171, 114, 0.4);
    cursor: pointer;
}


main #offer #offer-cards .offer-card img {
    width: 3rem;
}


/*MAIN: additional-offer*/
main #additional-offer #add-offer-area {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  background-color: var(--background-bright-color);
  gap: 2px;
  cursor: url("/assets/icons//search.svg") 16 16, auto;
}

main #additional-offer #add-offer-area .add-offer {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 7rem;
    background-color: var(--background-color);
    gap: 1rem;
    border-radius: var(--border-radius);
    transition: transform 0.3s ease;
}

main #additional-offer #add-offer-area .add-offer:hover p {
    bottom: 0;
    opacity: 1;
    cursor: url("/assets/icons//search.svg") 16 16, auto;
}

main #additional-offer #add-offer-area .add-offer:hover img,  
main #additional-offer #add-offer-area .add-offer:hover h3
{
    opacity: 0.8;
    filter: blur(4px) brightness(0.8);
    transform: scale(0.97);
}


main #additional-offer #add-offer-area .add-offer p {
    position: absolute;
    opacity: 0;
    z-index: 5;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    bottom: -100%;
    transition: bottom 0.4s ease;
    padding: 4rem;
}

main #additional-offer #add-offer-area .add-offer img {
    width: 4rem;
}


/*MAIN: process*/
main #process #process-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

main #process #process-grid .process-item {
    position: relative;
    padding: 3rem;
        background: linear-gradient(
        to top,  
        var(--background-color) 0%,
        var(--background-bright-color) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25rem;
    border-radius: var(--border-radius);
}

main #process #process-grid .process-item:hover {
    cursor: url("/assets/icons/search.svg") 16 16, auto;
}

main #process #process-grid .process-item:hover span {
    opacity: 0.2;
    filter: blur(2px);
}

main #process #process-grid .process-item span {
    position: absolute;
    left:0;
    font-family: "Allura";
    font-size: 25rem;
    opacity: 0.2;
    transition: 0.4s ease;
    filter: blur(5px) brightness(0.8);
}

main #process #process-grid .process-item .process-item-text {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    gap: 0.5rem;
}

main #process #process-grid .process-item .process-item-text p {
    border-top: 2px solid var(--highlight-color);
    padding-top: 0.5rem;
}


/*MAIN: projects*/


#projects {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.projects-container {
    position: relative;
    display: flex;
    gap: 2rem;
    width: 100%;
}

.toc {
    flex: 1;
    position: sticky;
    display: flex;
    padding: 5rem;
    justify-content: center;
    top: 20%;
    width: 100%;
    height: 60vh;
        background: linear-gradient(
        to right,  
        var(--background-cards-color) -50%,
        var(--background-bright-color) 100%
    );
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: var(--border-radius);
}

.toc span {
    font-family: "Merriweather-light";
    font-size: 2.5rem;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.toc span.active {
    color: var(--highlight-color);
    transform: translateX(-1rem);
}

.projects-content {
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.project {
    scroll-margin-top: 150px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 2rem;
    min-height: 100vh;
    border-bottom: 2px solid var(--background-bright-color);
    gap: 2rem;
}

#project-span {
    font-size: 6rem;
    opacity: 0.8;
    font-family: "Merriweather-light";
}

.project .heading h2 {
    text-align: left;
    font-size: 5rem;
    margin-bottom: 1rem;
}

.project .heading span {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.project .tags {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
}

.project .tags .tag {
    display: flex;
    color: var(--heading-color);
    background-color: transparent;
    border-radius: var(--border-radius);
    border: 2px solid var(--highlight-color-2);
    padding: 0.3rem 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
}

.project .text-img-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5rem 0;
    gap: 5rem;
}

.project .text-img-block h3 {
    margin-bottom: 0.2rem;
}

.project .text-img-block img {
    width: 55%;
    border-radius: var(--border-radius);
}

.project  .branding {
    display: flex;
    gap: 0.8rem;
    width: 100%;
}

.project .branding .color {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: var(--border-radius);
}

.project #numbers-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.project #numbers-grid .number {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    gap: 0.2rem;
    background: linear-gradient(
        to right,  
        var(--background-cards-color) -50%,
        var(--background-bright-color) 100%
    );
    padding: 1rem;
    border-radius: var(--border-radius);
}

.project #numbers-grid .number .num {
    font-size: 1.5rem;
    color: var(--highlight-color);
}

.project #numbers-grid .number .small-num {
    font-size: 1rem;

}



/*MAIN: about*/
main #about #about-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main #about #about-wrapper img {
    width: 30%;
}

main #about #about-wrapper #about-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main #about #about-wrapper #about-info #about-heading {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

main #about #about-wrapper #about-info #about-heading span {
    color: var(--highlight-color);
}

main #about #about-wrapper #about-info #about-slideshow {
    gap: 2rem;
}

main #about #about-wrapper #about-info #about-slideshow .about-slide {
    display: flex;
    flex-direction: column;
    background-color: var(--background-cards-color);
    border: 1px solid var(--highlight-color);
    padding: 1.5rem;
    border-radius: var(--border-radius);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    gap: 0.5rem;
}

main #about #about-wrapper #about-info #about-slideshow .about-slide:hover {
    transform: scale(1.03);
    border-color: #E9AB72;
    box-shadow: 0 0 15px rgba(233, 171, 114, 0.3), 0 5px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}



/*MAIN: trust-badge*/
main #trust-badge {
  overflow: hidden !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 20vh;
  position: relative;
  margin: var(--wrapper) 0;
}

main #trust-badge #blur-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 2rem;
  backdrop-filter: blur(12px);
  z-index: 2;
  pointer-events: none;
}

main #trust-badge #logo-track-wrapper {
  display: flex;
  width: fit-content;
  animation: scroll 40s linear infinite;
}

main #trust-badge .logo-track {
  display: flex;
  align-items: center;
  gap: 3rem;
  transform: translate(50%, 0%);
}

main #trust-badge .logo-track img {
  height: 100px;
  width: auto;
  object-fit: contain;
  user-select: none;
  transition: filter 0.3s ease;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  backface-visibility: hidden;
  filter: brightness(0.5) invert(0.3);
}

.logo-track img:last-child {
  margin-right: 3rem;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


/*MAIN: testimonials*/
main #testimonials #testimonial {
    margin-top: 5rem;
    width: 50%;
    position: relative;
    background-color: var(--background-cards-color);
    border: 1px solid var(--highlight-color);
    padding: 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

main #testimonials #testimonial #profile {
    position: absolute;
    left: calc(50% - 4rem);
    top: -4rem;
    width: 8rem;
    height: 8rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid var(--highlight-color)
}

main #testimonials #testimonial #profile img {
    width: 8rem;
    height: 8rem;
}

.blur, .no-blur {
    filter: blur(0px);
    transition: 0.4s ease;
}

main #testimonials #testimonial:hover {
    cursor: url("/assets/icons/search.svg") 16 16, auto;
}

main #testimonials #testimonial:hover .blur {
    filter: blur(3px);
}

main #testimonials #testimonial:hover .no-blur {
    color: var(--highlight-color);
}

main #testimonials #testimonial #test-heading .stars {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    padding-top: 0.5rem;
}

main #testimonials #testimonial #test-heading .stars img {
    width: 1.2rem;
}


/*MAIN: contact*/
main #contacts {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}

main #contacts form {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--background-cards-color);
    padding: 2rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--highlight-color);
}

main #contacts form .form-row {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

main #contacts form .form-col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

main #contacts form .form-col .form-row {
    width: 48%;
}

main #contacts form .form-row .form-error-msg {
    opacity: 0;
    color: var(--error-msg-color);
    font-size: 0.8rem;
    
}

main #contacts form .form-row label {
    font-size: 1.2rem;
}

main #contacts form button {
    color: var(--background-color);
}

main #contacts form label .required {
    color: var(--error-msg-color);
}

main #contacts form .form-row input {
    background-color: var(--background-cards-color);
}

main #contacts form .form-row input:focus {
    outline: 1px solid var(--highlight-color) !important;
}

main #contacts form .form-legal {
    margin-bottom: 1rem;
}

main #contacts form .form-legal .checkbox {
  position: relative;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

main #contacts form .form-legal .checkbox input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  aspect-ratio: 1/1;
}

main #contacts form .form-legal .checkbox .checkmark {
  width: 22px;
  height: 18px;
  border: 2px solid var(--highlight-color, #007bff);
  border-radius: 4px;
  transition: all 0.25s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

main #contacts form .form-legal .checkbox .checkmark::after {
  content: "";
  width: 4px;
  height: 10px;
  border-right: 2px solid var(--background-color);
  border-bottom: 2px solid var(--background-color);
  transform: rotate(45deg) scale(0);
  transition: transform 0.2s ease;
}

main #contacts form .form-legal .checkbox input:checked + .checkmark {
  background-color: var(--highlight-color, #007bff);
}

main #contacts form .form-legal .checkbox input:checked + .checkmark::after {
  transform: rotate(45deg) scale(1);
}

main #contacts form button {
    background-color: var(--highlight-color);
    border: 0;
}

main #contacts #contact-elements {
    width: 50%;
    gap: 2rem;
}

main #contacts #contact-elements a {
    display: block;
}

main #contacts #contact-elements .contact-element {
    background-color: var(--background-cards-color);
    padding: 2rem 2rem;
    display: flex;
    gap: 1rem;
    position: relative;
}

main #contacts #contact-elements .contact-element .overlay-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


main #contacts #contact-elements .contact-element:hover {
    cursor: pointer;
}

main #contacts #contact-elements .contact-element img {
    width: 3rem;
}

main #contacts #contact-elements .contact-element .contact-text {
    display: flex;
    flex-direction: column;
}


/*MAIN: faq*/
#faq-questions {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.faq-question {
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  border: 1px solid var(--highlight-color);
  overflow: hidden; /* wichtig für smooth collapse */
  transition: all 0.3s ease;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  cursor: pointer;
  letter-spacing: 2px;
}

.question .question-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
}

.question .question-text img {
    width: 2rem;
}

.question .chevron {
  width: 2rem;
  transition: transform 0.3s ease;
  transform: rotate(0deg); /* Ausgang */
}

.answer {
  max-height: 0;
  overflow: hidden;
  background-color: var(--background-cards-color);
  padding: 0 2rem;
  transition: max-height 0.4s ease, padding 0.4s ease;
}

.answer p {
  margin: 1rem 0;
}

.faq-question.active .answer {
  max-height: 500px;
  padding: 1rem 2rem 2rem 2rem;
}

.faq-question.active .question .chevron {
  transform: rotate(90deg);
}

#cta-end {
    display: flex;
    gap: 1rem;
}

#cta-end p {
    width: 50%;
    font-size: 1.8rem;
    text-align: center;
    padding-bottom: 1rem;
}

#cta-end a {
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
}



/* Große Desktops (bis 1920px) */
@media (max-width: 1600px) {

    main #offer #offer-cards {
        gap: 2rem;
    }


    #offer #offer-cards .offer-card {
        padding: 4rem 2rem !important;
    }


    main #process #process-grid .process-item {
        padding: 1.5rem !important;
    }

    #process .process-item .process-item-text {
        margin-left: 1rem !important;
    }


    .projects-content {
        flex: 7;
    }

    .toc {
        padding: 3rem;
    }

    
    
}

/* Laptops (bis 1280px) */
@media (max-width: 1400px) {

    main #hero #hero-text-overlay p {
        width: 75%;
    }

    #projects .project .text-img-block {
        flex-direction: column;
        width: 100%;
    }

    #projects .project .text-img-block img {
        width: 100%;
    }

    main #process #process-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}

/* Tablets (bis 1024px) */
@media (max-width: 1024px) {


    main #hero #hero-text-overlay span {
        font-size: 3rem;
    }

    main #hero #hero-text-overlay p {
        width: 80%;
        font-size: 1.5rem;
    }



    main #offer #offer-cards {
        gap: 2rem;
        grid-template-columns: 1fr;
    }

    main #additional-offer #add-offer-area {
        grid-template-columns: 1fr;
    }
    main #additional-offer #add-offer-area .add-offer  {
        justify-content: center;
    }

    main #process #process-grid {
        gap: 2rem;
        grid-template-columns: repeat(1, 1fr);
    }


    #projects .toc {
        display: none;
    }

    #projects .projects-content {
       width: 100%;
    }

    #projects .project {
        padding: 0;
        padding-bottom: 2rem;
    }



    .project .branding {
        flex-wrap: wrap;
    }

    .project .branding .color {
        width: 22%;
    }


    #about #about-wrapper {
        flex-direction: column;
        gap: 1rem;
    }

    main #about #about-wrapper img {
        width: 60%;
    }

    main #about #about-wrapper #about-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    main #trust-badge #blur-overlay {
        padding: 0.5rem 1rem;
        width: 50%;
    }


    main #trust-badge h2 {
        font-size: 2rem;
    }

    main #trust-badge #logo-track-wrapper {
        animation: scroll 30s linear infinite;
    }

    main #trust-badge .logo-track {
        gap: 1rem;
    }

    main #trust-badge .logo-track img {
        height: 50px;
    }


    main #testimonials #testimonial {
        width: 100%;
        padding: 5rem 2rem;
    }

    main #contacts {
        flex-direction: column;
        gap: 2rem;
    }

    main #contacts form {
        width: 100%;
    }

    main #contacts form .form-col {
        flex-direction: column;
        width: 100%;
    }

    main #contacts form .form-col .form-row {
        width: 100%;
    }

    main #contacts #contact-elements {
        width: 100%;
        gap: 2rem;
    }

    #cta-end p {
        width: 100%;
        font-size: 1.5rem;
    }

}

/* Kleine Smartphones (bis 480px) */
@media (max-width: 480px) {

    main #process #process-grid {
        gap: 2rem;
        grid-template-columns: repeat(1, 1fr);
    }

    main #trust-badge #blur-overlay {
        padding: 0.5rem 1rem;
        width: 60%;
    }


    main #hero p {
        font-size: 1.2rem !important;
        width: 90% !important;
    }

    #offer .offer-card {
        padding: 2rem !important;
    }


    #additional-offer .add-offer p {
       padding: 1rem !important;
    }

    main #trust-badge h2 {
        font-size: 1.5rem;
    }

    #project-span {
        font-size: 4rem;
    }

    .project .heading h2 {
        font-size: 3rem;
    }

    .project .tags {
        flex-wrap: wrap;
    }
}